#time {
    font-size: 80px;
    margin-bottom: 100px;
    margin-top: 100px;
}

body {
    text-align: center;
    margin: 30px 0;
    background-color: black;
    color: rgb(247, 87, 87);
}

#buttons {
    display: flex;
    align-items: center;
}

#start-box,
#stop-box,
#reset-box {
    width: 125px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(247, 87, 87);
    font-size: 25px;
    cursor: pointer;
}

button:active {
    height: 90px;
    width: 90px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Laps-record {
    font-size: 50px;
    color: rgb(81, 164, 253)
}

#lap-count {
    font-size: 60px;
    color: rgb(247, 87, 87);
}